/* HTML y Body */

/* Colores principales */
:root {
  --azul-principal: #1a2545;
  --azul-secundario: #2563eb;
  --blanco: #ffffff;
  --gris-claro: #f1f5f9;
}

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Contenido principal */
.main-content {
  flex: 1;
}