/* Estilos Globales */
/* HTML y Body */
html, body {
  font-family: Arial, sans-serif; /* Fuente básica */
  color: var(--gris-dark); /* Color de texto general */
  background-color: var(--gris-claro); /* Fondo gris claro */
}